<div *ngIf="table" class="container mt-5">
  <div class="mb-3">
    <button class="btn btn-secondary" onclick="history.back()">Back</button>
  </div>
  <app-error-block></app-error-block>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="card-title">Table Information</h3>
      <div>
        <a class="btn btn-success me-2" [routerLink]="['content']"
          >View Content</a
        >
        <button class="btn btn-primary me-2" [routerLink]="['edit']">
          Update Table Name
        </button>
        <button class="btn btn-danger" (click)="deleteTableById(table.id!)">
          Remove Table
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="mb-4 d-flex justify-content-between align-items-center">
        <h4>
          Table Name: <span class="text-primary">{{ table.name }}</span>
        </h4>
      </div>

      <div class="mb-3 text-end">
        <button class="btn btn-success" [routerLink]="['columns/new']">
          Add New Column
        </button>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th class="text-center">Column Name</th>
              <th class="text-center">Column Type</th>
              <th class="text-center">Constraints</th>
              <th class="text-center">Default Value</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let column of table.columns; let i = index"
              class="w-100"
            >
              <th class="text-center align-middle">
                <input
                  [id]="['name_' + i]"
                  [value]="column.name"
                  class="form-control-plaintext text-center"
                  (click)="showInput('name_' + i)"
                  (keyup.enter)="onEnterName('name_' + i)"
                  (blur)="lostFocus('name_' + i)"
                  readonly
                />
              </th>
              <td class="text-center align-middle">
                  <app-column-types
                    [options]="fieldTypes$.getValue()"
                    [column]="column"
                    [index]="i"
                    [tableId]="tableId"
                    [columnName]="column.name"
                  ></app-column-types>
              </td>
              <td class="align-middle">
                <app-constraint-list
                  [constraints]="getConstraints(column)"
                  [columnName]="column.name"
                  [tableId]="tableId"
                  (deleteConstraintEvent)="deleteConstraint($event)"
                ></app-constraint-list>
              </td>
              <td class="text-center align-middle">
                <ng-container
                  *ngIf="allowToChangeDef(i); else changeValTemplate"
                >
                  <input
                    [id]="'defVal_' + i"
                    [value]="column.defaultValue"
                    class="form-control-plaintext text-center"
                    (click)="showInput('defVal_' + i)"
                    (keyup.enter)="onEnterDefVal(i)"
                    (blur)="lostFocus('defVal_' + i)"
                    readonly
                  />
                </ng-container>
                <ng-template #changeValTemplate>
                  <ng-container
                    *ngTemplateOutlet="
                      changeVal;
                      context: { $implicit: column }
                    "
                  ></ng-container>
                </ng-template>
              </td>
              <td class="text-center align-middle">
                <button
                  class="btn btn-sm btn-danger"
                  (click)="deleteColumnByName(column.name)"
                >
                  Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <app-api-info [tableName]="table.name"></app-api-info>
    </div>
  </div>
</div>

<ng-template #changeVal let-column>
  <input
    [value]="column.defaultValue"
    class="form-control-plaintext text-center"
    readonly
  />
</ng-template>
