<div class="container mt-5">
  <div class="mb-3">
    <button class="btn btn-secondary" onclick="history.back()">Back</button>
  </div>

  <div *ngIf="db" class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="card-title">Database Information</h3>
      <div>
        <a
          [routerLink]="['/tables/create']"
          [state]="{ dbId: db.id }"
          class="btn btn-success me-2"
        >
          Create Table
        </a>
        <a class="btn btn-success me-2" [routerLink]="['execute']"
          >Execute Query</a
        >
        <button class="btn btn-primary me-2" [routerLink]="['edit']">
          Update Database Name
        </button>
        <button class="btn btn-danger" (click)="deleteDbById()">
          Remove Database
        </button>
      </div>
    </div>
    <!-- <div> -->
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="mb-4">
          <h4>
            Database Name:
            <span class="text-primary">{{ db.name }}</span>
          </h4>
          <h5>
            Status:
            <span
              class="badge"
              [ngClass]="{
                'bg-success': db.status === 'ACTIVE',
                'bg-warning': db.status === 'CREATING'
              }"
              >{{ db.status }}</span
            >
          </h5>
        </div>
      </li>

      <li class="list-group-item">
        <app-db-token-info [db]="db"></app-db-token-info>
      </li>

      <li class="list-group-item"><app-table-list></app-table-list></li>
      <li class="list-group-item">
        <app-all-queries
          [dbId]="db.id!.toString()"
          [preview]="true"
        ></app-all-queries>
      </li>
      <!-- </div> -->
    </ul>
  </div>
</div>
