<ul *ngIf="constraints.length > 0">
  <li *ngFor="let constraint of constraints">
    <div class="d-flex justify-content-between">
      {{ constraint }}
      <button
        *ngIf="constraint !== 'IDENTITY' && constraint !== 'AUTO INCREMENT'"
        class="btn btn-white btn-xs"
        (click)="deleteConstraint(constraint)"
      >
        <i class="bi bi-trash-fill black-color"></i>
      </button>
    </div>
  </li>
</ul>
<div class="text-center align-middle">
  <a
    class="btn btn-white btn-xs"
    [routerLink]="['addConstraint']"
    [state]="{ columnName: columnName }"
  >
    <i class="bi bi-plus-circle black-color"></i>
  </a>
</div>
