<div class="mb-3">
  <h4>Tables</h4>
</div>

<div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Table Name</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let table of tables">
          <tr>
            <td>{{ table.name }}</td>
            <td class="text-center">
              <a
                [routerLink]="['tables', table.id]"
                class="btn btn-outline-primary"
                >View Info
              </a>
            </td>
          </tr>
        </ng-container>
        <tr
          *ngIf="tables === null || tables === undefined || tables.length === 0"
          class="text-center"
        >
          <td colspan="2">Empty...</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
