<div class="d-flex justify-content-between align-items-center mb-3">
  <h5>Tables</h5>
  <a
    [routerLink]="['/tables/create']"
    [state]="{ dbId: dbId }"
    class="btn btn-success"
  >
    Create Table
  </a>
</div>

<div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Table Name</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let table of tables">
          <tr>
            <td>{{ table.name }}</td>
            <td class="text-center">
              <a
                [routerLink]="['tables', table.id]"
                class="btn btn-outline-primary"
                >View Info
              </a>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
