<div class="container mt-5">
  <div class="mb-3">
    <button class="btn btn-secondary" onclick="history.back()">Back</button>
  </div>

  <div class="mb-3 text-end">
    <a class="btn btn-success" [routerLink]="['add']">Create New Row</a>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Table Content</h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Column 1</th>
              <th class="text-center sticky-action">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Row 1 Data 2</td>
              <td class="text-center align-middle sticky-action">
                <button class="btn btn-sm btn-warning me-2">Update</button>
                <button class="btn btn-sm btn-danger">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
