<div class="container mt-5">
  <div class="mb-3">
    <button class="btn btn-secondary" onclick="history.back()">Back</button>
  </div>

  <div class="mb-3 text-end">
    <a class="btn btn-success" [routerLink]="['add']">Add New Record</a>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Table Content</h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th *ngFor="let colName of columnsNames">{{ colName }}</th>
              <th class="text-center sticky-action">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let record of content">
              <td *ngFor="let col of columnsNames">{{ record[col] }}</td>
              <td class="text-center align-middle sticky-action">
                <button
                  class="btn btn-sm btn-warning me-2"
                  [disabled]="!allowedToChange"
                  [routerLink]="['edit']"
                  [state]="{
                    pkName: primaryKeyColumnName,
                    pkValue: record[primaryKeyColumnName]
                  }"
                >
                  Update
                </button>
                <button
                  class="btn btn-sm btn-danger"
                  (click)="delete(record)"
                  [disabled]="!allowedToChange"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
