<div class="container mt-5">
  <div class="mb-3">
    <button class="btn btn-secondary" onclick="history.back()">Back</button>
  </div>

  <app-error-block></app-error-block>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Add Column</h3>
    </div>
    <div class="card-body">
      <form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()">
        <div class="mb-3">
          <label for="newColumnName" class="form-label">Column Name</label>
          <input
            type="text"
            class="form-control"
            id="newColumnName"
            placeholder="Enter new column name"
            formControlName="name"
          />
        </div>

        <div formGroupName="columnType">
          <div class="mb-3">
            <label for="columnType" class="form-label">Column Type</label>
            <select
              id="columnType"
              class="form-select"
              formControlName="type"
              [value]="['change']"
            >
              <option value="" disabled selected>Choose field type</option>
              <option
                *ngFor="let fieldType of fieldTypes$ | async"
                [value]="fieldType"
              >
                {{ fieldType }}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label id="valueLabel" for="valueField" class="form-label"
              >Type Value</label
            >
            <input
              type="text"
              class="form-control"
              id="valueField"
              placeholder="Enter type value"
              formControlName="value"
            />
          </div>
        </div>

        <fieldset class="mb-3">
          <legend class="col-form-label pt-0">Constraints</legend>
          <div *ngIf="constraints">
            <div
              class="form-check"
              *ngFor="let constraint of constraints; let i = index"
            >
              <div formGroupName="columnConstraints">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="notNull"
                  value="notNull"
                  [formControlName]="i"
                />
                <span class="form-check-label">
                  {{ constraint.value }}
                </span>
              </div>
              <div
                *ngIf="constraint.value === 'FOREIGN KEY'"
                class="d-flex"
                formGroupName="foreignTable"
              >
                <select
                  class="form-select"
                  [value]="['change']"
                  formControlName="tableName"
                >
                  <option value="" disabled selected>Choose table</option>
                  <option *ngFor="let table of dbTables" [value]="table.name">
                    {{ table.name }}
                  </option>
                </select>
                <select
                  *ngIf="dbTables"
                  class="form-select ms-3"
                  [value]="['change']"
                  formControlName="columnName"
                >
                  <option value="" disabled selected>Choose column</option>
                  <option
                    *ngFor="let column of getTableColumnsName()"
                    [value]="column"
                  >
                    {{ column }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </fieldset>

        <div class="mb-3">
          <label id="defaultValueLabel" for="valueField" class="form-label"
            >Default Value</label
          >
          <input
            id="defaultValue"
            formControlName="defaultValue"
            placeholder="Enter default value expression"
            class="form-control w-100"
          />
        </div>

        <button type="submit" class="btn btn-primary">Add Column</button>
      </form>
    </div>
  </div>
</div>
