<div class="container mt-5">
  <div class="mb-3">
    <button class="btn btn-secondary" onclick="history.back()">Back</button>
  </div>

  <app-error-block></app-error-block>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Add Column</h3>
    </div>
    <div class="card-body">
      <form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()">
        <div class="mb-3">
          <label for="newColumnName" class="form-label">Column Name</label>
          <input
            type="text"
            class="form-control"
            id="newColumnName"
            placeholder="Enter new column name"
            formControlName="name"
          />
        </div>

        <div formGroupName="columnType">
          <div class="mb-3">
            <label for="columnType" class="form-label">Column Type</label>
            <select
              id="columnType"
              class="form-select"
              formControlName="type"
              [value]="['change']"
            >
              <option value="" disabled selected>Choose field type</option>
              <option
                *ngFor="let fieldType of fieldTypes$ | async"
                [value]="fieldType"
              >
                {{ fieldType }}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label id="valueLabel" for="valueField" class="form-label"
              >Type Value</label
            >
            <input
              type="text"
              class="form-control"
              id="valueField"
              placeholder="Enter type value"
              formControlName="value"
            />
          </div>
        </div>

        <app-add-constraint
          [form]="form"
          [dbTables]="dbTables"
          [selectedView]="'asElement'"
        ></app-add-constraint>

        <div class="mb-3">
          <label id="defaultValueLabel" for="valueField" class="form-label"
            >Default Value</label
          >
          <input
            id="defaultValue"
            formControlName="defaultValue"
            placeholder="Enter default value expression"
            class="form-control w-100"
          />
        </div>

        <button type="submit" class="btn btn-primary">Add Column</button>
      </form>
    </div>
  </div>
</div>
