<!-- <div class="container mt-5">
  <div class="mb-3">
    <button class="btn btn-secondary" onclick="history.back()">Back</button>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Update Column</h3>
    </div>
    <div class="card-body">
      <form
        *ngIf="form && constraints && column"
        [formGroup]="form"
        (ngSubmit)="submit()"
      >
        <div class="mb-3">
          <label for="newColumnName" class="form-label">Column Name</label>
          <input
            type="text"
            class="form-control"
            id="newColumnName"
            formControlName="name"
          />
        </div>

        <div formGroupName="columnType">
          <div class="mb-3">
            <label for="columnType" class="form-label">Column Type</label>
            <select
              class="form-select"
              formControlName="type"
              [value]="['change']"
            >
              <option
                *ngFor="let fieldType of fieldTypes$ | async"
                [value]="fieldType"
              >
                {{ fieldType }}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label id="valueLabel" for="valueField" class="form-label"
              >Type Value</label
            >
            <input
              type="text"
              class="form-control"
              id="valueField"
              formControlName="value"
            />
          </div>
        </div>

        <fieldset class="mb-3">
          <legend class="col-form-label pt-0">Constraints</legend>
          <div *ngIf="constraints" formGroupName="columnConstraints">
            <div
              class="form-check"
              *ngFor="let constraint of constraints; let i = index"
            >
              <input
                class="form-check-input"
                type="checkbox"
                id="notNull"
                value="notNull"
                [formControlName]="i"
              />
              <span class="form-check-label">
                {{ constraint.value }}
              </span>
            </div>
          </div>
        </fieldset>

        <button type="submit" class="btn btn-primary">Update Column</button>
      </form>
    </div>
  </div>
</div> -->
<p>edit column</p>
